body {
	margin:0px;
	background:#000;
}

video {
	height:100%;
	width:100%;
}

audio {display:none;}

.content {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
}

.content img{
	height:100%;
}